/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


.wrapper {
    max-width: 1931px;
    
}
.header {
    background: url(/4/img/BG-Header.jpg) -8px -110px no-repeat;
    background-size: 100vw auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.header_logo {
    margin-top: 15vh;
}
.header_logo img {
    height: 12vh;
}
.header_title {
    padding-top: 15vh;
    height: 39vw;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 34px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    line-height: 40px;
        letter-spacing: 5.43px
}
.header_title p:nth-last-child(1) {
    text-transform: none;
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 4.15px;
}
.heder_line {
    border:solid 2px #ffffff;
    width: 6vw;
    margin-top: 4vh;
}
.read_more {
    height: 70px;
    width: 190px;
    border: solid 2px white;
    margin-bottom: 7vh;
}
.read_more a {
    color: #ffffff;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    
    letter-spacing: 0.67px;
}
.arrow_down {
}
.body {
}
.about {
}
.menu {
}
.about_menu_buttom {
}
.title {
}
.line {
}
.about_text {
}
.about_row {
}
.about_row_container {
}
.about_row_container_img {
}
.about_row_container_textTitle {
}
.about_row_container_text {
}
.portfolio {
}
.portfolio_img_container {
}
.portfolio_img {
}
.partners {
}
.partners_title {
}
.ourpartners_logo_comtainer {
}
.ourpartners_logo {
}
.our_contacts {
}
.footer {
}