/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


.wrapper {
    max-width: 1931px;
    margin: 0 auto;
    
}
.header {
    background: url(/4/img/BG-Header.jpg) -8px -110px no-repeat;
    background-repeat: no-repeat;
    background-position: bottom 50%;
    background-size: 103% auto ;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.header_logo {
    margin-top: 15vh;
}
.header_logo img {
    height: 12vh;
}
.header_title {
    padding-top: 15vh;
    
    color: #ffffff;
    font-family: sans-serif;
    font-size: 34px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    line-height: 40px;
    letter-spacing: 5.43px
}
.header_title p:nth-last-child(1) {
    text-transform: none;
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 4.15px;
}
.heder_line {
    border:solid 2px #ffffff;
    width: 6vw;
    margin-top: 4vh;
}
.read_more {
    height: 47px;
    width: 182px;
    border: solid 2px white;
    margin-top: 18vh;
    margin-bottom: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.read_more a {
    color: #ffffff;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.67px;
    
}
.arrow_down {
  width: 2vw;
  height: 2vh;
  background: url(../img/Arrow-down.png) no-repeat 8px -2px;
}
.body {
  
}
.about {
  height: 100vh;
  
  
}
.menu {
  height: 5.55vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}


.about_menu_buttom {
 
}

.about_menu_buttom a {
  color: #3c3c3c;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  padding: 22px 25px;
}

.about_menu_buttom a:hover {
  font-weight: 700;
  color: #ada074;
}
.line_menu {
  height: 1px;
  width: 100vw;
  border: solid 1px #eaeaea;
}

.title {
  font-family: sans-serif;
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.95px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.about .title {
  padding-top: 12.04vh;
  padding-bottom: 3.24vh;
  
}

.line {
    border:solid 1px black;
    width: 4.22vw;
    margin: 0 auto;
  

}
.about_text {
  width: 52vw;
  margin: 0 auto;
  padding-top: 3.42vh;
  color: #868585;
  font-family: sans-serif;
  line-height: 25.89px;
  text-align: center;
  padding-bottom: 6.38vh;
}
.about_row {
  display: flex;
  width: 60vw;
  margin: 0 auto;
  
}
.about_row_container {
  flex: 1 1 33.333%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 8px; 
  
}
.about_row_container_img {
  width: 92px;
  height: 92px;
  border-radius: 50%;
  border: #868585 solid 2px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.about_row_container_textTitle {
  font-size: 22px;
  font-family: sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3.52px;
  padding-top: 3.8vh;
}
.about_row_container_text {
  color: #868585;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 300;
  line-height: 26px;
  text-align: center;
  padding-top: 3.25vh;

}
.portfolio {
  background-color: #eaeaea; 
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio .title {
  padding-top: 9.9vh;
  padding-bottom: 3.704vh;
}

.portfolio .menu {
  margin-top: 35px;
}



.portfolio_row {
  margin-top: 120px;
  width: 1100px;
 
}
.portfolio_img_container {
  
  display: flex;
  flex-wrap: wrap;
  margin: 0 -13px;
  
  
}
.portfolio_img {
  flex: 0 1 50%;
  padding: 0 13px 16px 13px;
  
  
  }
  .portfolio_img_img {
    height: 365px;
    background-color: white;
    text-align: center;
    padding-top: 135px;
    font-size: 40px;
  }

  
  .portfolio .read_more {
    border: black 2px solid;
    margin: 46px auto;
}
.portfolio .read_more a {
  color: black;
}
.partners {
  height: 388px;
  background-image: url(/4/img/BG-Header_copy.jpg);
  background-repeat: no-repeat;
  background-position: -3vw 50%;
  background-size: 110% auto ;
}
.partners_title {
  
}
.ourpartners_logo_comtainer {
}
.ourpartners_logo {
}
.our_contacts {
}
.footer {
}